$primary-color: #444;
$secondary-color: #77c3ec;
$show-main-img: true;
$bg-opacity: 0.5;
$main-img: url(../img/beach.jpg);

@mixin easeOut {
    transition: all 1.0s ease-out;
}


@mixin bg {
    @if $show-main-img {
        &#bg-img {
            background: $main-img;
            background-attachment: fixed;
            background-size: cover;
        
            &:after {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                background: rgba($primary-color, $bg-opacity);
            }
        
        }
    }
}


//media queries
@mixin mediaSm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

@mixin mediaMd {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mediaLg {
    @media screen and (min-width: 769) and (max-width: 1199px) {
        @content;
    }
}

@mixin mediaXl {
    @media screen and (min-width: 1200px) {
        @content;
    }
}