@import 'config';

.menu-button {
    position: absolute;
    z-index: 3;
    right: 30px;
    top: 30px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 25px;
        height: 3px;
        margin: 0 0 5px 0;
        background: white;
        @include easeOut;
    }

    //Rotate menu on open/close toggle
    &.close{
        transform: rotate(180deg);

        //creating "X" effect when menu is clicked on/off 
        .btn-line{
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }   
            &:nth-child(2) {
                opacity: 0;
            }   
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }              
        }
    }
}


//menu overlay
.menu {
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 0.9;
    visibility: hidden;

    &.show{
        visibility: visible;
    }

    &-headshot, 
    &-nav {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav {
        margin: 0;
        padding: 0;
        background: darken($primary-color, 5);
        list-style: none;
        transform: translate3d(0, 100%, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    //headshot
    &-headshot {
        background: $primary-color; 
        transform: translate3d(0, -100%, 0); 
        @include easeOut;

        &.show {
            transform: translate3d(0, 0, 0);
        }

        .portrait {
            width: 250px;
            height: 250px;
            background: url("../img/headshot_cropped.jpg");
            background-size: cover;
            background-position: center;
            border-radius: 50%;
            border: solid 5px $secondary-color;
        }
    }

    .nav-item{
        transform: translate3d(800px, 0, 0);
        @include easeOut;

        &.show {
            transform: translate3d(0,0,0);
        }

        &.current > a {
            color: $secondary-color;
        }
    }

    .nav-link {
        display: inline-block;
        position: relative;
        font-size: 1.6rem;
        text-transform: uppercase;
        padding: 1rem;
        color: whitesmoke;
        text-decoration: none;
        @include easeOut;

        &:hover {
            color: $secondary-color;
        }
    }
}

//loop for nav items to slide in one by one
@for $x from 1 through 5 {
    .nav-item:nth-child(#{$x}) {
        transition-delay: $x * 0.1s;
    }
}