// @import 'config';

//XL means screens >= 1200px
@include mediaXl {


}


//desktop/laptop means screen 769-1179px
@include mediaLg {


}


//tablet means screen <769
@include mediaMd {
    main {
        align-items: center;
        text-align: center;
    
        .big-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    } 

    ul.menu-nav, 
    div.menu-headshot {
        float: none;
        width: 100%;
        min-height: 0;
    
        &.show {
            transform: translate3d(0,0,0);
        }
    }

    .menu-nav {
        height: 75vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 1.5rem;
    }

    .menu-headshot {
        height: 25%;
        transform: translate3d(100%,0,0);
    
        .portrait {
            background: url('../img/headshot_cropped_resize.jpg');
            background-size: cover;
            background-position: center;
            width: 150px;
            height: 150px;
        }        
    
    }

}

//Mobile means screen <= 500px
@include mediaSm {
    main#home h1 {
        margin-top: 10vh;
    }

}